@import './common.scss';
@import './iconfont.scss';
@import './reset.scss';
html,
body {
    @extend %full;
}

.container {
    @extend %full;
    display: flex;
    flex-direction: column;
    .header {
        height: px2rem(50px);
        width: 100%;
        background: red;
    }
    .section {
        flex: 1;
        // .banner {
        //     width: 100%;
        //     height: px2rem(150px);
        //     margin-top: px2rem(-50px);
        //     img {
        //         @extend %full;
        //     }
        // }
    }
    .footer {
        height: px2rem(50px);
        width: 100%;
        background: red;
    }
}